REDIS_URL: redis://redis:6379/1
OTP_URL: http://otp:8082
GRAPHHOPPER_URL: http://graphhopper:8989
POSTGRES_URL: postgres://root:root@postgres/metrocar
NOMINATIM_URL: http://nominatim:8080
PHOTON_URL: http://photon:2322
FRONTEND_URL: http://metrocar.localhost
DIRECTUS_URL: http://directus:8055
DIRECTUS_USER_TOKEN: securetoken # enter the auth token of a user who has read access on directus
NODE_ENV: development
INTERNAL_DEFAULT_AGENCY_ID: "cb0defb5-9158-4f98-97b5-98ba107aeeac"

# should match key and secret in directus.env so we can authenticate users on the backend
JWT_PUBLIC_KEY: "4817271f-856f-45db-8378-9d448cd4915d"
JWT_PRIVATE_KEY: "verysecret"