REDIS_URL: redis://redis:6379/1
OTP_URL: http://otp:8082
GRAPHHOPPER_URL: http://graphhopper:8989
POSTGRES_URL: postgres://root:root@postgres/metrocar
NOMINATIM_URL: http://nominatim:8080
PHOTON_URL: http://photon:2322
FRONTEND_URL: http://metrocar.localhost

NODE_ENV: development

HOST: "0.0.0.0"
PORT: 8055
PUBLIC_URL: "http://api.metrocar.localhost/"

ADMIN_PASSWORD: "test"

####################################################################################################
## Database

DB_CLIENT: "pg"
DB_HOST: "postgres"
DB_PORT: "5432"
DB_DATABASE: "metrocar"
DB_USER: "root"
DB_PASSWORD: "root"
DB_SSL: "false"

####################################################################################################
## Rate Limiting

RATE_LIMITER_ENABLED: false
RATE_LIMITER_STORE: memory
RATE_LIMITER_POINTS: 25
RATE_LIMITER_DURATION: 1

####################################################################################################
## Cache

CACHE_ENABLED: false

####################################################################################################
## File Storage

STORAGE_LOCATIONS: "local"
STORAGE_LOCAL_DRIVER: "local"
STORAGE_LOCAL_ROOT: "/uploads"

####################################################################################################
## Security

KEY: "4817271f-856f-45db-8378-9d448cd4915d"
SECRET: "verysecret"

ACCESS_TOKEN_TTL: "15m"
REFRESH_TOKEN_TTL: "7d"
REFRESH_TOKEN_COOKIE_SECURE: "false"
REFRESH_TOKEN_COOKIE_SAME_SITE: "lax"
REFRESH_TOKEN_COOKIE_NAME: "refresh_token"
REFRESH_TOKEN_COOKIE_DOMAIN: "metrocar.localhost"

####################################################################################################
## Auth Providers

AUTH_PROVIDERS: ""

####################################################################################################
## Extensions

EXTENSIONS_PATH: "./extensions"

####################################################################################################
## Email

EMAIL_FROM: "MetroCar <no-reply@metrocar.org>"
EMAIL_TRANSPORT: "sendmail"

USER_INVITE_URL_ALLOW_LIST: "http://metrocar.localhost/invite"
PASSWORD_RESET_URL_ALLOW_LIST: "http://metrocar.localhost/password-reset"