NEXT_PUBLIC_BACKEND_DOMAIN: metrocar.localhost
NEXT_PUBLIC_BACKEND_SCHEME: http
NEXT_PUBLIC_FRONTEND_URL: http://metrocar.localhost
INTERNAL_BACKEND_SCHEME: http
INTERNAL_BACKEND_DOMAIN: directus:8055
INTERNAL_BACKEND_USER_TOKEN: securetoken # enter the auth token of a user who has read access on directus
INTERNAL_OTP_URL: http://otp:8082
INTERNAL_DEFAULT_AGENCY_ID: 8457aec4-c852-4f84-9dc0-e81e79555683
PORT: "3000"
DANGEROUSLY_DISABLE_HOST_CHECK: "true"
NODE_ENV: development
