// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.react-datetime-picker__wrapper {
  border: none;
  white-space: nowrap;
  overflow: visible;
}

.footer {
  .header {
    font-size: 24px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0.75rem;
    a {
      color: var(--bs-body-color);
      text-decoration: none;
    }
  }
}
